<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.romantic.dao.TbOrderItemMapper" >
    <sql id="b" >
      id,goods_id,order_num,num,total_fee,create_time,update_time,is_alive;
    </sql>
    <select id="selectByOnGi" resultType="com.romantic.pojo.TbOrderItem" >
      SELECT
        *
        <!--<include refid="b"></include>-->
      from tb_order_item
      where order_num= #{orderNum,jdbcType=VARCHAR,javaType=string} AND goods_id=#{goodsId,jdbcType=VARCHAR,javaType=string}
    </select>
</mapper>